# Игнорирование папки .idea (для PyCharm/IntelliJ)
.idea/

# Игнорирование виртуального окружения
.venv/
env/
venv/

# Игнорирование кэша Python
__pycache__/
*.py[cod]

# Игнорирование файлов данных
data/

# Игнорирование настроек VSCode
.vscode/

# Игнорирование системных файлов
.DS_Store